@{
  Layout = "_Layout";
}

@model Library.Models.Copy

<h4>Add a new copy</h4>

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.CopyId)

    @Html.Label("Select book")
    @Html.DropDownList("BookId")

    <input type="submit" value="Add new book" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>
