@{
  Layout = "_Layout";
}

@using Library.Models;
@model IEnumerable<Library.Models.Copy>

<h1>Books for @User.Identity.Name</h1>

@if (!@Model.Any())
{
  <h3>No copies have been added yet!</h3>
}

@foreach (Copy copy in Model)
{
  <li>@Html.ActionLink($"{copy.CopyId}", "Details", new { id = copy.CopyId })</li>
}

<p>@Html.ActionLink("Add new copy", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
